{%extends "base.html" %}

{% block title %}profile{% endblock%}

{% block content %}
   <div class="flex justify-center text-md text-blue-500">
          {% if messages %}
          {%for m in messages%}
         <p {% if m.tags%} class="{{m.tags}}"{%endif%}>{{m}}</p>
           {%endfor%}
          {% endif %}
        </div>
  <h1 class="text-xl text-black text-center p-2 shadow-sm rounded-xl mt-20 ">{{profile.user.get_full_name|default_if_none:''|upper}} </h1>
<h1>
  {%if not profile.file_no %}
  <a href="{%url 'doc' profile.user.pk %}">complete profile</a>
  {%endif%}
</h1>
<p>
  file number:{{profile.file_no|default_if_none:''}}
</p>


<h1>payslip</h1>
{% if payslips %}
<ul>
  {% for i in payslips %}
    <li>
      <a href="{% url 'download_pdf' i.id %}" download="{{ i.profile.ippis_no }}_payslip.pdf">Download Payslip</a>
    </li>
    <li>
       <a href="{% url 'view_pdf' i.id %}">view</a>
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>No payslips available</p>
{% endif %}

{% endblock %}