{%extends "base.html" %}
<h1>Register</h1>
{% block title %}user update{% endblock%}
{% block content %}
      <p class="mt-20">user update form</p> 
   <div class="flex justify-center text-md text-blue-500">
          {% if messages %}
          {%for m in messages%}
         <p {% if m.tags%} class="{{m.tags}}"{%endif%}>{{m}}</p>
           {%endfor%}
          {% endif %}
        </div>
      <form action="" method="POST" >

    {% csrf_token %}
             {{form.as_p}}
        <div>
          <button type="submit" >
            submit
          </button>
        </div>
</form>

{% endblock %}
