{%extends "base.html" %}
{% block title %}Payslip Form{% endblock%}
{% block content %}
<section class="  text-center border-t-2 border-green-800"></section>
<div class=" border-2 border-green-800 text-sm mx-auto mt-10">
    <section class=" text-center border-b-2 border-green-700 text-sm">
        <p class="text-green-800 uppercase max-sm:text-lg text-xl">Upload Payslip</p> 
<div class="flex justify-center text-md text-blue-500">
             {% if messages %}
          {%for m in messages%}
         <p {% if m.tags%} class="{{m.tags}}"{%endif%}>{{m}}</p>
           {%endfor%}
          {% endif %}
        </div>
</section>      
<form method="post" enctype="multipart/form-data" class="flex flex-col">
  {% csrf_token %}
<div class="flex flex-wrap flex-row">  
    <!-- User Form -->
    {{ form.as_p }}
  </div>
  <button type="submit">Submit</button>
</form>
</div>
{% endblock %}