{%extends "base.html" %}
{% block title %}documentation form{% endblock%}
{% block content %}
<section class="  text-center border-t-2 border-green-800"></section>
<div class=" border-2 border-green-800 text-sm mx-auto mt-10">
    <section class=" text-center border-b-2 border-green-700 text-sm">
        <p class="text-green-800 uppercase max-sm:text-lg text-xl">documentation form</p> 
<div class="flex justify-center text-md text-blue-500">
          {% if messages %}
          {%for m in messages%}
         <p>{% if m.tags%} class="{{m.tags}}"{%endif%}>{{m}}</p>
         {%endfor%}
          {% endif %}
    </div>      </section>
      
<form method="post" enctype="multipart/form-data" class="flex flex-col">
  {% csrf_token %}

<div class="flex flex-wrap flex-row">  
    <!-- User Form -->
    {{ form.as_p }}
  </div>
<div class="flex flex-wrap flex-row mt-20">  
  <!-- Profile Form -->
  {{ profileform.as_p }}
  </div>
<div class="flex flex-wrap flex-row mt-20">  
  <!-- GovtApp Form -->
  {{ govtappform.as_p }}
  </div>

  <button type="submit">Submit</button>
</form>
</div>
<script>
  // Get the select elements
  const zoneSelect=document.getElementById('id_zone');
  const stateSelect=document.getElementById('id_state');
  const lgaSelect = document.getElementById('id_lga');

  // Define the available states for each zone
  const zoneStatesLGAs = {
    'NORTH-EAST': {
      'ADAMAWA':['Demsa', 'Fufure', 'Ganye', 'Girei', 'Gombi', 'Guyuk', 'Hong', 'Jada', 'Lamurde', 'Madagali', 'Maiha', 'Mayo-Belwa','Michika', 'Mubi North', 'Mubi South', 'Numan', 'Shelleng', 'Song', 'Toungo', 'Yola North', 'Yola South'],
      'BAUCHI':['Alkaleri', 'Bauchi', 'Bogoro', 'Damban', 'Darazo', 'Dass', 'Gamawa', 'Ganjuwa', 'Giade', 'Itas/Gadau', 'Jamaare','Katagum', 'Kirfi', 'Misau', 'Ningi', 'Shira', 'Tafawa Balewa', 'Toro', 'Warji', 'Zaki'],
      'BORNO':['Abadam', 'Askira/Uba', 'Bama', 'Bayo', 'Biu', 'Chibok', 'Damboa', 'Dikwa', 'Gubio', 'Guzamala', 'Gwoza', 'Hawul','Jere', 'Kaga', 'Kala/Balge', 'Konduga', 'Kukawa', 'Kwaya Kusar', 'Mafa', 'Magumeri', 'Maiduguri', 'Marte','Mobbar', 'Monguno', 'Ngala', 'Nganzai', 'Shani'],
      'GOMBE':['Akko', 'Balanga', 'Billiri', 'Dukku', 'Funakaye', 'Gombe', 'Kaltungo', 'Kwami', 'Nafada', 'Shongom', 'Yamaltu/Deba'],
      'TARABA':['Ardo Kola', 'Bali', 'Donga', 'Gashaka', 'Gassol', 'Ibi', 'Jalingo', 'Karim Lamido', 'Kumi', 'Lau', 'Sardauna','Takum', 'Ussa', 'Wukari', 'Yorro', 'Zing'],
      'YOBE': ['Bade', 'Bursari', 'Damaturu', 'Fika', 'Fune', 'Geidam', 'Gujba', 'Gulani', 'Jakusko', 'Karasuwa', 'Karawa', 'Machina','Nangere', 'Nguru', 'Potiskum', 'Tarmuwa', 'Yunusari', 'Yusufari']
    },
    'NORTH-WEST': {
      'JIGAWA':['Auyo', 'Babura', 'Biriniwa', 'Birnin Kudu', 'Buji', 'Dutse', 'Gagarawa', 'Garki', 'Gumel', 'Guri', 'Gwaram','Gwiwa','Hadejia', 'Jahun', 'Kafin Hausa', 'Kaugama', 'Kazaure', 'Kiri Kasama','Kiyawa', 'Kaugama', 'Maigatari','Malam Madori', 'Miga', 'Ringim', 'Roni', 'Sule Tankarkar', 'Taura', 'Yankwashi'],
      'KADUNA':['Birnin Gwari', 'Chikun', 'Giwa', 'Igabi', 'Ikara', 'Jaba', 'Jema\'a', 'Kachia', 'Kaduna North', 'Kaduna South','Kagarko','Kajuru', 'Kaura', 'Kauru', 'Kubau', 'Kudan', 'Lere', 'Makarfi', 'Sabon Gari', 'Sanga', 'Soba','Zangon Kataf', 'Zaria'],
      'KANO':['Ajingi', 'Albasu', 'Bagwai', 'Bebeji', 'Bichi', 'Bunkure', 'Dala', 'Dambatta', 'Dawakin Kudu', 'Dawakin Tofa','Doguwa', 'Fagge', 'Gabasawa', 'Garko', 'Garun Mallam', 'Gaya', 'Gezawa', 'Gwale', 'Gwarzo', 'Kabo', 'Kano Municipal','Karaye', 'Kibiya', 'Kiru', 'Kumbotso', 'Kunchi', 'Kura', 'Madobi', 'Makoda', 'Minjibir', 'Nasarawa', 'Rano','Rimin Gado', 'Rogo', 'Shanono','Sumaila', 'Takai', 'Tarauni', 'Tofa', 'Tsanyawa', 'Tudun Wada', 'Ungogo','Warawa', 'Wudil'],
      'KATSINA':['Bakori', 'Batagarawa', 'Batsari', 'Baure', 'Bindawa', 'Charanchi', 'Dandume', 'Danja', 'Dan Musa', 'Daura','Dutsi', 'Dutsin Ma', 'Faskari', 'Funtua', 'Ingawa', 'Jibia', 'Kafur', 'Kaita', 'Kankara', 'Kankia', 'Katsina','Kurfi', 'Kusada', 'Mai\'Adua', 'Malumfashi', 'Mani', 'Mashi', 'Matazu', 'Musawa', 'Rimi', 'Sabuwa', 'Safana','Sandamu', 'Zango'],
      'KEBBI':['Aleiro', 'Arewa Dandi', 'Argungu', 'Augie', 'Bagudo', 'Birnin Kebbi', 'Bunza', 'Dandi', 'Fakai', 'Gwandu', 'Jega','Kalgo', 'Koko/Besse', 'Maiyama', 'Ngaski', 'Sakaba', 'Shanga','Suru','Wasagu/Danko', 'Yauri', 'Zuru'],
      'SOKOTO':['Binji', 'Bodinga', 'Dange Shuni', 'Gada', 'Goronyo', 'Gudu', 'Gwadabawa', 'Illela', 'Isa', 'Kebbe', 'Kware','Rabah', 'Sabon Birni', 'Shagari', 'Silame', 'Sokoto North', 'Sokoto South', 'Tambuwal', 'Tangaza', 'Tureta','Wamako', 'Wurno', 'Yabo'],
      'ZAMFARA':['Anka', 'Bakura', 'Birnin Magaji/Kiyaw', 'Bukkuyum', 'Bungudu', 'Gummi', 'Gusau', 'Kaura Namoda', 'Maradun','Maru', 'Shinkafi', 'Talata Mafara', 'Chafe', 'Zurmi']
    },
    'NORTH-CENTRAL': {
      'ABUJA': ['Abaji', 'Bwari', 'Gwagwalada', 'Kuje', 'Kwali'],
      'BENUE': ['Ado', 'Agatu', 'Apa', 'Buruku', 'Gboko', 'Guma', 'Gwer East', 'Gwer West', 'Katsina-Ala', 'Konshisha','Kwande', 'Logo', 'Makurdi', 'Obi', 'Ogbadibo', 'Ohimini', 'Oju', 'Okpokwu','Otukpo', 'Tarka', 'Ukum','Ushongo', 'Vandeikya'],
      'KOGI': ['Adavi', 'Ajaokuta', 'Ankpa', 'Bassa', 'Dekina', 'Ibaji', 'Idah', 'Igalamela-Odolu', 'Ijumu', 'Kabba/Bunu','Kogi', 'Lokoja', 'Mopa-Muro', 'Ofu', 'Ogori/Magongo', 'Okehi', 'Okene','Olamaboro', 'Omala', 'Yagba East','Yagba West'],
      'KWARA':['Asa', 'Baruten', 'Edu', 'Ekiti', 'Ifelodun', 'Ilorin East', 'Ilorin South', 'Ilorin West', 'Irepodun', 'Isin','Kaiama', 'Moro', 'Offa', 'Oke Ero', 'Oyun', 'Pategi'],
      'NASARAWA':['Akwanga', 'Awe', 'Doma', 'Karu', 'Keana', 'Keffi', 'Kokona', 'Lafia', 'Nasarawa', 'Nasarawa Egon', 'Obi','Toto', 'Wamba'],
      'NIGER':['Agaie', 'Agwara', 'Bida', 'Borgu', 'Bosso', 'Chanchaga', 'Edati', 'Gbako', 'Gurara', 'Katcha', 'Kontagora','Lapai', 'Lavun', 'Magama', 'Mariga', 'Mashegu', 'Mokwa', 'Muya', 'Pailoro','Rafi', 'Rijau', 'Shiroro', 'Suleja','Tafa', 'Wushishi'],
      'PLATEAU':['Barkin Ladi', 'Bassa', 'Bokkos', 'Jos East', 'Jos North', 'Jos South', 'Kanam', 'Kanke', 'Langtang North','Langtang South', 'Mangu', 'Mikang', 'Pankshin', 'Qua\'an Pan', 'Riyom', 'Shendam', 'Wase'],
    },

    'SOUTH-EAST': {
      'ABIA':['Aba North', 'Aba South', 'Arochukwu', 'Bende', 'Ikwuano', 'Isiala Ngwa North', 'Isiala Ngwa South', 'Isuikwuato','Obi Ngwa', 'Ohafia', 'Osisioma Ngwa', 'Ugwunagbo', 'Ukwa East', 'Ukwa West', 'Umuahia North', 'Umuahia South','Umu Nneochi'],
      'ANAMBRA':['Aguata', 'Anambra East', 'Anambra West', 'Anaocha', 'Awka North', 'Awka South', 'Ayamelum', 'Dunukofia','Ekwusigo', 'Idemili North', 'Idemili South', 'Ihiala', 'Njikoka', 'Nnewi North', 'Nnewi South', 'Ogbaru','Onitsha North', 'Onitsha South', 'Orumba North', 'Orumba South', 'Oyi'],
      'ENUGU':['Aninri', 'Awgu', 'Enugu East', 'Enugu North', 'Enugu South', 'Ezeagu', 'Igbo Etiti', 'Igbo Eze North','Igbo Eze South', 'Isi Uzo', 'Nkanu East', 'Nkanu West', 'Nsukka', 'Oji River', 'Udenu', 'Udi', 'Uzo Uwani'],
      'EBONYI':['Abakaliki', 'Afikpo North', 'Afikpo South', 'Ebonyi', 'Ezza North', 'Ezza South', 'Ikwo', 'Ishielu', 'Ivo','Izzi', 'Ohaozara', 'Ohaukwu', 'Onicha'],
      'IMO': ['Aboh Mbaise', 'Ahiazu Mbaise', 'Ehime Mbano', 'Ezinihitte Mbaise', 'Ideato North', 'Ideato South', 'Ihitte/Uboma','Ikeduru', 'Isiala Mbano', 'Isu', 'Mbaitoli', 'Ngor Okpala', 'Njaba','Nkwerre', 'Nwangele', 'Obowo', 'Oguta','Ohaji/Egbema', 'Okigwe', 'Orlu', 'Orsu', 'Oru East', 'Oru West', 'Owerri Municipal', 'Owerri North', 'Owerri West','Unuimo']
    },

    'SOUTH-WEST': {
      'EKITI': ['Ado Ekiti', 'Efon', 'Ekiti East', 'Ekiti South-West', 'Ekiti West', 'Emure', 'Gbonyin', 'Ido-Osi', 'Ijero','Ikere', 'Ikole', 'Ilejemeje', 'Irepodun/Ifelodun', 'Ise/Orun', 'Moba','Oye'],
      'LAGOS':['Agege', 'Ajeromi-Ifelodun', 'Alimosho', 'Amuwo-Odofin', 'Apapa', 'Badagry', 'Epe', 'Eti-Osa', 'Ibeju-Lekki','Ifako-Ijaiye', 'Ikeja', 'Ikorodu', 'Kosofe', 'Lagos Island', 'Lagos Mainland', 'Mushin', 'Ojo', 'Oshodi-Isolo','Shomolu', 'Surulere'],
      'OGUN':['Abeokuta North', 'Abeokuta South', 'Ado-Odo/Ota', 'Ewekoro', 'Ifo', 'Ijebu East', 'Ijebu North', 'Ijebu North East','Ijebu Ode', 'Ikenne', 'Imeko-Afon', 'Ipokia', 'Obafemi Owode', 'Odeda', 'Odogbolu', 'Ogun Waterside', 'Remo North','Sagamu'],
      'ONDO': ['Akoko North East', 'Akoko North West', 'Akoko South East', 'Akoko South West', 'Akure North', 'Akure South','Ese-Odo', 'Idanre', 'Ifedore', 'Ilaje', 'Ile Oluji/Okeigbo', 'Irele','Odigbo', 'Okitipupa', 'Ondo East','Ondo West', 'Ose', 'Owo'],

      'OSUN':  ['Atakunmosa East', 'Atakunmosa West', 'Aiyedaade', 'Aiyedire', 'Boluwaduro', 'Boripe', 'Ede North', 'Ede South', 'Egbedore', 'Ejigbo', 'Ife Central', 'Ife East', 'Ife North', 'Ife South', 'Ifedayo', 'Ifelodun', 'Ila', 'Ilesa East', 'Ilesa West', 'Irepodun', 'Irewole', 'Isokan', 'Iwo', 'Obokun', 'Odo Otin', 'Ola Oluwa', 'Olorunda', 'Oriade', 'Orolu', 'Osogbo'],
      'OYO':  ['Afijio', 'Akinyele', 'Atiba', 'Atisbo', 'Egbeda', 'Ibadan North', 'Ibadan North East', 'Ibadan North West', 'Ibadan South East', 'Ibadan South West', 'Ibarapa Central', 'Ibarapa East', 'Ibarapa North', 'Ido', 'Irepo', 'Iseyin', 'Itesiwaju', 'Iwajowa', 'Kajola', 'Lagelu', 'Ogbomosho North', 'Ogbomosho South', 'Ogo Oluwa', 'Olorunsogo', 'Oluyole', 'Ona Ara', 'Orelope', 'Ori Ire', 'Oyo East', 'Oyo West', 'Saki East', 'Saki West', 'Surulere']
    },
    'SOUTH-SOUTH': {
      'AKWA IBOM': ['Abak', 'Eastern Obolo', 'Eket', 'Esit Eket', 'Essien Udim', 'Etim Ekpo', 'Etinan', 'Ibeno', 'Ibesikpo Asutan','Ibiono Ibom', 'Ika', 'Ikono', 'Ikot Abasi', 'Ikot Ekpene', 'Ini','Itu', 'Mbo', 'Mkpat Enin', 'Nsit Atai','Nsit Ibom', 'Nsit Ubium', 'Obot Akara', 'Okobo', 'Onna', 'Oron', 'Oruk Anam', 'Udung Uko', 'Ukanafun', 'Uruan','Urue-Offong/Oruko', 'Uyo'],
      'BAYELSA':['Brass', 'Ekeremor', 'Kolokuma/Opokuma', 'Nembe', 'Ogbia', 'Sagbama', 'Southern Ijaw', 'Yenagoa'],
      'CROSS RIVER': ['Akpabuyo', 'Bakassi', 'Bekwarra', 'Biase', 'Boki', 'Calabar Municipal', 'Calabar South', 'Etung', 'Ikom','Obanliku', 'Obubra', 'Obudu', 'Odukpani', 'Ogoja', 'Yakuur', 'Yala'],
      'DELTA':['Aniocha North', 'Aniocha South', 'Bomadi', 'Burutu', 'Ethiope East', 'Ethiope West', 'Ika North East', 'Ika South','Isoko North', 'Isoko South', 'Ndokwa East', 'Ndokwa West', 'Okpe', 'Oshimili North', 'Oshimili South', 'Patani','Sapele', 'Udu', 'Ughelli North', 'Ughelli South', 'Ukwuani', 'Uvwie', 'Warri North', 'Warri South','Warri South West'],

      'EDO': ['Akoko Edo', 'Egor', 'Esan Central', 'Esan North-East', 'Esan South-East', 'Esan West', 'Etsako Central','Etsako East', 'Etsako West', 'Igueben', 'Ikpoba-Okha', 'Orhionmwon', 'Oredo', 'Ovia North-East','Ovia South-West', 'Owan East', 'Owan West', 'Uhunmwonde'],
      'RIVERS':['Abua/Odual', 'Ahoada East', 'Ahoada West', 'Akuku-Toru', 'Andoni', 'Asari-Toru', 'Bonny', 'Degema', 'Eleme','Emohua', 'Etche', 'Gokana', 'Ikwerre', 'Khana', 'Obio/Akpor', 'Ogba/Egbema/Ndoni', 'Ogu/Bolo', 'Okrika','Omuma', 'Opobo/Nkoro', 'Oyigbo', 'Port Harcourt', 'Tai'],
    }
  };


  function UpdatePosts(){
    const selectedDepartment=depSelect.value;
    cpSelect.innerHTML='<option value="">Select Post</option>';
    
    if(selectedDepartment){
      const posts=depCp[selectedDepartment];
      for(let i=0; i < posts.length; i++){
        const option=document.createElement('option');
        option.text=posts[i];
        option.value=posts[i];
        postSelect.add(option);
      }
    }
}

  function updateStates() {
    const selectedZone = zoneSelect.value;
    stateSelect.innerHTML = '<option value="">Select State</option>';
    lgaSelect.innerHTML = '<option value="">Select LGA</option>';

    if (selectedZone) {
      const states = Object.keys(zoneStatesLGAs[selectedZone]);
      for (let i = 0; i < states.length; i++) {
        const option = document.createElement('option');
        option.text = states[i];
        option.value = states[i];
        stateSelect.add(option);
      }
    }
  }

  function updateLGAs() {
    const selectedZone = zoneSelect.value;
    const selectedState = stateSelect.value;
    lgaSelect.innerHTML = '<option value="">Select LGA</option>';

    if (selectedZone && selectedState) {
      const lgas = zoneStatesLGAs[selectedZone][selectedState];
      for (let i = 0; i < lgas.length; i++) {
        const option = document.createElement('option');
        option.text = lgas[i];
        option.value = lgas[i];
        lgaSelect.add(option);
      }
    }
  }

  zoneSelect.addEventListener('change', updateStates);
  stateSelect.addEventListener('change', updateLGAs);


  const departmentSelect=document.getElementById('id_department');
  const postSelect=document.getElementById('id_current_post');
  const postOptions={
    'ADMINISTRATION':[
    'ACTING MEDICAL DIRECTOR',
    'ADMINISTRATIVE OFFICER I',
    'ADMINISTRATIVE OFFICER II',
    'ASSISTANT CHIEF CONF SECRETARY',
    'ASSISTANT DIRECTOR OF ADMIN',
    'ASSISTANT EXECUTIVE OFFICER (GD)',
    'ASSISTANT EXECUTIVE OFFICER I (G/DUTIES)',
    'ASSITANT EXECUTIVE OFFICER',
    'CHIEF ADMIN OFFICER',
    'CHIEF CLERICAL OFFICER',
    'CHIEF EXECUTIVE OFFICER',
    'CLERICAL OFFICER',
    'CLERICAL OFFICER I',
    'CLERICAL OFFICER II',
    'CONFIDENTIAL SECRETARY I',
    'CONFIDENTIAL SECRETARY II',
    'CONFIDENTIAL SECRETARY III',
    'DIRECTOR OF ADMINISTRATION',
    'EXECUTIVE OFFICER (G/D)',
    'HEAD SECURITY GUARD',
    'HIGH EXECUTIVE OFFICER (G/D)',
    'PRINCIPAL ADMIN OFFICER',
    'PRINCIPAL CONF SECRETARY I',
    'PRINCIPAL CONF SECRETARY II',
    'PRINCIPAL CONF SECRETARY II',
    'PRINCIPAL EXECUTIVE OFFICER, II (G/D)',
    'SENIOR ADMINISTRATIVE OFFICER',
    'SENIOR CLERICAL OFFICER',
    'SENIOR CONFIDENTIAL SECRETARY',
    'SENIOR EXECUTIVE OFFICER (G/D)'
],
    'ACCOUNT':[
    'ACCOUNTANT I',
    'ACCOUNTANT II',
    'ASSISTANT CHIEF ACCOUNTANT',
    'ASSISTANT DIRECTOR FINANCE',
    'CHIEF ACCOUNTANT',
    'CHIEF CLERICAL OFFICER (ACCOUNT)',
    'CHIEF EXECUTIVE OFFICER (ACCOUNT)',
    'DEPUTY DIRECTOR OF FINANCE',
    'EXECUTIVE OFFICER (ACCOUNT)',
    'HIGHER EXECUTIVE OFFICER (ACCOUNT)',
    'PRINCIPAL ACCOUNTANT',
    'PRINCIPAL EXECUTIVE OFFICER I (ACCOUNT)',
    'PRINCIPAL EXECUTIVE OFFICER II (ACCOUNT)',
    'SENIOR EXECUTIVE OFFICER (ACCOUNT)'
],
    'BIO-MEDICAL ENGINEERING':[
    'BIO-MEDICAL ENGINEER I',
    'BIO-MEDICAL TECHNICIAN',
    'CHIEF BIO-MEDICAL ENGINEER',
    'CHIEF BIO-MEDICAL TECHNICIAN I',
    'CHIEF BIO-MEDICAL TECHNICIAN',
    'PRINCIPAL BIO-MEDICAL ENGINEER',
    'PRINCIPAL BIO-MEDICAL TECHNICIAN I',
    'TECHNICAL OFFICER (BIO-MEDICALS)'
],
    'CLINICAL SERVICES':[
    'CHIEF HEALTH ASSISTANT',
    'CHIEF HEALTH ASSISTANT (P/H)',   
    'CHIEF ORTHOPAEDIC SURG',
    'CLINICAL INSTRUCTOR (BURNS)',
    'CONSULTANT (ANAESTH)',
    'CONSULTANT (B&PS) GD II',
    'CONSULTANT (FAMILY PHY) GRD II',
    'CONSULTANT ANAESTH SP GRD I',
    'CONSULTANT CARDIOLOGIST',
    'CONSULTANT FAMILY PHYSICIAN',
    'CONSULTANT HAEMATOLOGIST',
    'CONSULTANT MAXILLOFACIAL',
    'CONSULTANT OBSTETRICIAN',
    'CONSULTANT ORTHOPAEDIC SURG GRD I',
    'CONSULTANT ORTHOPAEDIC SURG GRD II',
    'CONSULTANT ORTHOPAEDIC SURG SP GD I',
    'CONSULTANT ORTHOPAEDIC SURG GD II',
    'CONSULTANT ORTHOPAEDIC SURGEON',
    'CONSULTANT ORTHOPAEDIC SURGEON GRD II',
    'CONSULTANT ORTHOPAEDIC SURGEON SPGD I',
    'CONSULTANT SP GRD I',
    'CONSULTANT SPINE SURGEON',
    'CONSULTANT (PLAST SURG)',
    'DENTAL MEDICAL OFFICER I',
    'DENTAL TECHNICIAN',
    'DENTAL THERAPIST',
    'EXECUTIVE OFFICER (ACCOUNT)',
    'HEAD HEALTH ATTENDANT',
    'HIGHER DENTAL TECHNOLOGIST',
    'HIGHER HEALTH ASSISTANT',
    'HIGHER HEALTH ASSISTANT (P/H)',
    'HIGHER ORTHOPAEDIC CAST TECH',
    'JUNIOR RESIDENT',
    'JUNIOR RESIDENT (ANAESTH)',
    'JUNIOR RESIDENT (NEUROSURG)',
    'JUNIOR RESIDENT DOCTOR II',
    'JUNIOR RESIDENT II',
    'JUNIOR RESIDENT II (BURNS & PLASTIC)',
    'JUNIOR RESIDENT II (LOCUM)',
    'JUNIOR RESIDENT II (O & G)',
    'JUNIOR RESIDENT II (ORTHOPAEDIC)',
    'JUNIOR RESIDENT II (PLASTIC & RECON)',
    'ORTHOPAEDIC CAST TECHNICIAN',
    'PRINCIPAL BIO MED ENGINEER',
    'PRINCIPAL HEALTH ASSISTANT',
    'PRINCIPAL EXECUTIVE OFFICER I (ACCOUNT)',
    'PRINCIPAL EXECUTIVE OFFICER II (ACCOUNT)',
    'SENIOR DENTAL OFFICER',
    'SENIOR DENTAL TECHNOLOGIST',
    'SENIOR EXECUTIVE OFFICER (ACCOUNT)',
    'SENIOR HEALTH ASSISTANT',
    'SENIOR HEALTH ASSISTANT (P/H)',
    'SENIOR MEDICAL OFFICER',
    'SENIOR ORTHO CAST TECH',
    'SENIOR REGISTRAR I',
    'SENIOR REGISTRAR II'
],    
    'CATERING':[
    'ASSISTANT CATERING OFFICER',
    'CATERING ASSISTANT',
    'CATERING OFFICER',
    'CHIEF CATERING OFFICER',
    'HEAD COOK',
    'HIGHER CATERING OFFICER',
    'HIGHER NUTRITION OFFICER',
    'PRINCIPAL CATERING OFFICER I',
    'PRINCIPAL CATERING OFFICER II',
    'PRINCIPAL NUTRITION OFFICER GD II',
    'SENIOR CATERING OFFICER'
],    
    'ENGINEERING':[
    'ARCHITECT GRADE I',
    'ASSISTANT CHIEF TECHNICAL OFFICER',
    'CIVIL ENGINEER I (CHEMICAL)',
    'CIVIL ENGINEER I (CIVIL)',
    'CHIEF CIVIL ENGINEER',
    'CHIEF ENGINEER (ELECT)',
    'CHIEF TECHNICAL OFFICER',
    'CRAFTSMAN',
    'CRAFTSMAN (LEATHER WORKS)',
    'CRAFTSMAN (TAILORING)',
    'DEPUTY DIRECTOR ENGINEERING',
    'FOREMAN',
    'FOREMAN (BRICKLAYING)',
    'FOREMAN (CARPENTRY)',
    'FOREMAN (PANITING)',
    'FOREMAN (TAILORING)',
    'FOREMAN (WELDING)',
    'HEAD PORTER',
    'HIGH TECH OFFICER (BUILDING)',
    'HIGH TECH OFFICER (ELECT)',
    'HIGH TECH OFFICER (ELECTRICAL)',
    'HIGH TECH OFFICER (METAL)',
    'HIGHER TECHNICAL OFFICER (CIVIL)',
    'HIGHER TECHNICAL OFFICER (PLUMBING)',
    'HIGHER TECHNICAL OFFICER (TEXTILE)',
    'HIGHER WORK SUPRERINTENDENT',
    'PRINCIPAL WORKS SUPRERINTENDENT I',
    'SENIOR CRAFTSMAN',
    'SENIOR CRAFTSMAN (L/WORKS)',
    'SENIOR CRAFTSMAN (LEATHER WORKS)',
    'SENIOR CRAFTSMAN (METAL WORKS)',
    'SENIOR CRAFTSMAN (PLANT)',
    'SENIOR CRAFTSMAN (PLUMBING)',
    'SENIOR ELECTRICAL ENGINEER',
    'SENIOR FOREMAN',
    'SENIOR FOREMAN (ELECTRICAL)',
    'SENIOR FOREMAN (LEATHER)',
    'SENIOR FOREMAN (LEATHER WORK)',
    'SENIOR FOREMAN (PLUMBING)',
    'SENIOR TECH OFFICER (SURVEY)',
    'SENIOR TECHNICAL OFFICER (ENGINEER)',
    'TECH OFFICER CIVIL ENGINEERING',
    'TECHNICAL OFFICER',
    'TECHNICAL OFFICER (CIVIL)',
    'WORKS SUPERINTENDENT'
],
    'INFORMATION TECHNOLOGY':[
    'ASSISTANT DATA PROCESSING OFFICER',
    'DATA PROCESSING ASSISTANT',
    'PROGRAM ANALYST I',
    'PROGRAM ANALYST II',
    'SENIOR DATA PROC OFFICER',
    'SENIOR DATA PROC OFFICER',
    'SENIOR PROGRAM ANALYST'
],
    'INTERNAL AUDIT':[
    'ASSISTANT CHIEF AUDITOR',
    'ASSISTANT DIRECTOR OF AUDIT',
    'AUDITOR I',
    'AUDITOR II',
    'HIGHER EXECUTIVE OFFICER (AUDIT)',
    'PRINCIPAL EXECUTIVE OFFICER I (AUDIT)',
    'PRINCIPAL EXECUTIVE OFFICER II (AUDIT)',
    'SENIOR AUDITOR',
    'SENIOR EXECUTIVE OFFICER (AUDIT)',
    'SENIOR EXECUTIVE OFFICER (AUDIT)'
],
    'LEGAL':[
    'ASSISTANT CHIEF STATE COUNSEL',
    'PRINCIPAL STATE COUNSEL'
],
    'LIBRARY':[
    'CHIEF LIBRARY ASSISTANT',
    'CHIEF LIBRARY OFFICER',
    'HIGHER LIBRARY OFFICER',
    'LIBRARIAN',
    'LIBRARIAN I',
    'LIBRARIAN II',
    'LIBRARY ASSISTANT',
    'SENIOR LIBRARIAN'
],
    'LAUNDRY':[
    'ASSISTANT TECH OFFICER (LAUNDRY)',
    'HEAD LAUNDRY MAN',
    'HEAD WASHERMAN'
],
    'MEDICAL RECORD':[
    'ASSISTANT CHIEF STATISTICAL OFFICER',
    'HEALTH INFORMATION MGT TECHNICIAN',
    'HEALTH RECORD TECHNICIAN',
    'HIGHER HEALTH RECORDS TECHNICIAN',
    'HIGHER STATISTICAL OFFICER',
    'PRINCIPAL HEALTH RECORDS TECH I',
    'PRINCIPAL HIGH HEALTH REC TECH',
    'PRINCIPAL INFORMATION OFFICER',
    'PRINCIPAL INFORMTN MGT TECH II',
    'PRINCIPAL INFORMATN MGT TECH I',
    'PRINCIPAL STATISTICAL OFFICER II',
    'SENIOR HEALTH RECORDS TECH',
    'SENIOR STATISTICAL OFFICER',
    'STATISTICAL ASSISTANT GRADE I',
    'STATISTICAL OFFICER',
    'STATISTICAL OFFICER I',
    'STATISTICIAN',
    'STATISTICIAN I',
    'STATISTICIAN II'
],
    'MEDICAL ILLUSTRATION':[
    'CHIEF GRAPHIC ART ASSISTANT',
    'CHIEF GRAPHIC ART OFFICER',
    'PHOTOGRAPHIC ASSISTANT',
    'PRINCIPAL GRAPHIC ART OFFICER I'
],    
    'NURSING SERVICES':[
    'ASSISTANT CHIEF NURSE ANAESTHETICS',
    'ASSISTANT CHIEF NURSING OFFICER',
    'ASSISTANT CHIEF NURSING OFFICER (ANAESTH)',
    'ASSISTANT DIRECTOR NURSING',
    'ASSISTANT DIRECTOR NURSING OFFICER',
    'ASSISTANT NURSING OFFICER',
    'ASSISTANT NURSING OFFICER (ANAESTH)',
    'CHIEF NURSING OFFICER (ANAESTH)',
    'CHIEF NURSING OFFICER (B&P)',
    'CHIEF NURSING OFFICER (CONTRACT)',
    'DEPUTY DIRECTOR NURSING',
    'NURSING OFFICER I',
    'NURSING OFFICER II',
    'PRINCIPAL NURSING OFFICER',
    'PRINCIPAL NURSING OFFICER (ANAESTH)',
    'SENIOR NURSING OFFICER',
    'SENIOR NURSING OFFICER (ANAES)',
    'SENIOR NURSING OFFICER (ICN)',
    'SENIOR NURSING OFFICER',
    'STAFF NURSE'
],
    'NURSING EDUCATION':[
    'ASSISTANT DIRECTOR NURSE TUTOR',
    'CHIEF EDUCATION OFFICER',
    'CHIEF NURSE TUTOR',
    'DEPUTY DIRECTOR NURSE EDUC',
    'EDUCATION OFFICER II',
    'NURSE EDUCATION OFFICER I',
    'NURSE TUTOR I',
    'PRINCIPAL NURSE TUTOR'
],    
    'PATHOLOGY':[
    'ASSISTANT DIRECTOR MEDICAL LAB SCI',
    'CHIEF MEDICAL LAB ASSISTANT',
    'CHIEF MEDICAL LAB TECHNICIAN',
    'DEPUTY DIRECTOR MED LAB SCIENCE',
    'HIGHER MED LAB TECHNICIAN',
    'MEDICAL LAB SCIENTIST',
    'MEDICAL LAB TECHNICIAN',
    'PRINCIPAL MED LAB SCI',
    'PRINCIPAL MED LAB TECH I',
    'PRINCIPAL MED LAB TECHNICIAN I',
    'SENIOR MEDICAL LAB SCIENTIST',
    'SENIOR MEDICAL LAB TECHNICIAN'
],    
    'PHARMACY':[
    'ASSISTANT DIRECTOR PHARMACY',
    'CHIEF PHARMACIST',
    'DEPUTY DIRECTOR OF PHARMACY',
    'DIRECTOR OF PHARMACY',
    'PHARMACIST',
    'PHARMACY TECHNICIAN',
    'PRINCIPAL PHARMACY TECH',
    'PRINCIPAL PHARMACY TECH I',
    'PRINCIPAL PHARMACIST',
    'SENIOR PHARMACIST',
    'SENIOR PHARMACY TECH'
],    
    'PHYSIOTHERAPHY':[
    'ASSISTANT DIRECTOR OF PHYSIOTHERAPY',
    'CHIEF HEALTH ASSISTANT (PHYSIO)',
    'CHIEF PHYSIOTHERAPIST',
    'PHYSIOTHERAPIST',
    'PRINCIPAL PHYSIO ASSISTANT',
    'PRINCIPAL PHYSIOTHERAPIST',
    'SENIOR HEALTH ASSISTANT (PHYSIO)',
    'SENIOR PHYSIOTHERAPIST',
    'SENIOR PHYSIOTHERAPIST'
],    
    'PROSTHETIC AND ORTHOTICS':[
    'SENIOR FOREMAN (P&O)',
    'HIGH PROSTH & ORTHO TECHN',
    'PRINCIPAL PROSTH & ORTHOPAEDIC TECHN',
],        
    'PROCUMENT':[
    'ASSISTANT CHIEF PROC OFFICER',
    'CHIEF PROCUREMENT OFFICER',
    'PRINCIPAL EXECUTIVE OFFICER (PROC)',
    'PROCUREMENT OFFICER II',
    'PROCUREMENT OFFICER II  (QS)',
    'SENIOR PROCUREMENT OFFICER'
],    
    'PUBLIC HEALTH':[
    'CHIEF ENVIRONMENT HEALTH ASSISTANT',
    'CHIEF ENVIRONMENT HEALTH OFFICER',
    'CHIEF HEALTH ASSISTANT (ENVIRONMENT)',
    'ENVIROMNENTAL HEALTH OFFICER',
    'ENVIRONMENT HEALTH ASSISTANT',
    'ENVIRONMENT SENIOR ASSISTANT (P/H)',
    'ENVIRONMENT SENIOR HEALTH ASSISTANT',
    'FORESTRY OFFICER II',
    'HIGHER ENVIRONMENT HEALTH ASSISTANT',
    'HIGHER ENVIRONMENT HEALTH SUPT',
    'HIGHER ENVIRONMENT HEALTH TECH',
    'HIGHER FOREST SUPRTNDENT',
    'PRINCIPAL ENVIRONMENT HEALTH ASSISTANT',
    'SENIOR ENVIRONMENT HEALTH ASSISTANT',
    'SENIOR ENVIRONMENT HEALTH SUP',
    'SENIOR ENV HEALTH OFFICER',
    'SENIOR FORESTRY OFFICER'
],
    'OCCUPATIONAL THERAPHY':[
    'SENIOR OCCUPATIONAL THERAPIST',
    'SENIOR OCCUPATIONAL THERAPIST TECH',
    'SENIOR OCCUPATIONAL THERAPIST TECH II'
],
    'RADIOLOGY':[
    'ASSISTANT DIRECTOR OF RADIOGRAPHY',
    'CONSULTANT RADIOLOGIST',
    'CONSULTANT RADIOLOGIST SPECIAL GRD I',
    'DEPUTY DIRECTOR OF RADIOLOGY',
    'HIGHER X-RAY TECHNICIAN',
    'PRINCIPAL RADIOGRAPHER',
    'PRINCIPAL X-RAY TECHNICIAN I',
    'PRINCIPAL X-RAY TECHNICIAN',
    'RADIOGRAPHER',
    'SENIOR RADIOGRAPHER',
    'SENIOR X-RAY TECHNICIAN',
    'X-RAY ASSISTANT',
    'X-RAY TECHNICIAN'
],    
    'SERVICOM':[
    'ASSISTANT EXECUTIVE OFFICER (INFORMAT)',
    'CHIEF INFORMATION ASSISTANT',
    'CHIEF INFORMATION OFFICER',
    'CHIEF REPORTER',
    'HIGHER EXECUTIVE OFFICER (INFOR)',
    'INFORMATION ASSISTANT',
    'INFORMATION OFFICER I',
    'INFORMATION OFFICER II',
    'SENIOR INFORMATION ASSISTANT'
],      
    'SOCIAL WELFARE':[
    'ASSISTANT DIRECTOR SOCIAL WELFARE SERV',
    'ASSISTANT SOCIAL WELFARE OFF GRD I',
    'ASSISTANT SOCIAL WELFARE OFFICER',
    'CHIEF SOCIAL WELFARE ASSISTANT',
    'PRINCIPAL SOCIAL WELFRAE OFFICER',
    'SOCIAL WELFARE ASSISTANT',
    'SOCIAL WELFARE OFFICER I',
    'SOCIAL WELFARE OFFICER II',
    'SOCIAL WORKER I',
    'SOCIAL WORKER II'
],
    'STORE':[
    'ASSISTANT STORE OFFICER',
    'CHIEF STORE ASSISTANT',
    'CHIEF STORE KEEPER',
    'CHIEF STORE OFFICER',
    'HIGHER STORE OFFICER',
    'PRINCIPAL STORES OFFICER',
    'PRINCIPAL STORES OFFICER II',
    'SENIOR STORE OFFICER',
    'STORE KEEPER',
    'STORE OFFICER'
],    
    'TELEPHONE':[
    'CHIEF TELEPHONE SUPERVISOR',
    'CHIEF TELEPHONE SUP',
    'SENIOR TELEPHONE OPERATOR'
],    
    'TRANSPORT':[
    'CHIEF MOTOR DRIVER',
    'CHIEF MOTOR DRIVER MECH',
    'MOTOR DRIVER MECHANIC',
    'MOTOR DRIVER MECHANIC II',
    'SENIOR MOTOR DRIVER MECHANIC I',
    'TRANSPORT OFFICER'
],
  };
  departmentSelect.addEventListener('change',function(){
    const selectedDepartment=departmentSelect.value;
    postSelect.innerHTML='<option value="">Select Post</option>';
    
    if(selectedDepartment){
      const selectedDepartmentOptions=postOptions[selectedDepartment];
      populateOptions(postSelect,selectedDepartmentOptions);
    }
  });

function populateOptions(selectElement,options){
  options.forEach(option=>{
    const optionElement=document.createElement('option')
    optionElement.text=option;
    optionElement.value=option;
    selectElement.add(optionElement)
  });
}
</script>
{% endblock %}

