{% extends 'base.html'%}
{% load static %}
{%block title%}Login{%endblock%}

{%block content %}
{% for m in messages %}
{{m}}
{%endfor%}
            <div class="flex justify-center mt-20">
      <div class="font-semibold uppercase text-xs shadow-2xl sm:max-w-lg mx-auto md:p-8 overflow-hidden rounded-xl bg-white mt-1  ">
        <section class="text-center border-b-2 border-green-800 p-4 m-4">
          <p class="text-green-500 text-sm font-bold pt-4">sign in to your account</p>
     <div class="flex justify-center text-md text-red-500">
          {% if form.errors %}
          {{form.errors}}
          {% endif %}
        </div>
     <div class="flex justify-center text-md text-blue-500">
          {% if messages %}
          {%for m in messages%}
         <p {% if m.tags%} class="{{m.tags}}"{%endif%}>{{m}}</p>
           {%endfor%}
          {% endif %}
        </div>
      </section>
        <form action="" method="POST" class="text-center">
              {% csrf_token %}
          <div class="mb-2 uppercase text-zinc-600">
            <div class="flex justify-center">
              <label for="uname">username</label>
            </div>
            <div class="flex justify-center mb-6">
              <input class="text-center text-xs focus:outline-none border border-blue-300 p-3 rounded shadow-lg hover:shadow-xl" type="text" name="username" id="uname"/>
            </div>
            <div class="flex justify-center">
              <label for="password">password </label>
            </div>
            <div class="flex justify-center mb-4">
              <input class="text-center text-xs focus:outline-none border border-blue-300 p-3 rounded shadow-lg hover:shadow-xl" type="password" name="password" id="password"/>
            </div>
              <div class="flex justify-center align-middle">
              <input type="submit" value="Login" class="focus:opacity-10 uppercase focus:border-green-600 hover:bg-white hover:text-green-600 hover:border-2 hover:border-green-600
         bg-green-500 text-white py-2 px-6 rounded shadow-lg hover:shadow-xl">
            </div>
          </div>
        </form>
      <section class="text-center border-t-2 border-green-800 mt-4">
      <div class="mt-2 flex items-center">
        <p class="mt-4 text-green-800 text-xs">
          <a
            class="border-b-2 border-blue-600 text-sm text-bold text-blue-800 ml-1"
            href="{%url 'register' %}"
            >register</a
          >
          instead
        </p>
      </div>
    </section>
      </div>
  </div>
{% endblock %}
